.card{
display: flex;
justify-content: center;
align-items: center;
background-color: rgba(128, 0, 128, 0.63);
background-size: cover;
background-repeat: no-repeat;
width: 326px;
height: 150px;
margin: 10px auto;
transition: 0.45s;
border-radius: 50px;
}
.card a{
    color: aliceblue;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
}